body {
    background-color: lightgoldenrodyellow;
    color: rgb(67, 49, 1);
    background: radial-gradient(
        circle at 10% 20%,
        lightgoldenrodyellow 0%,
        gold 90%
    );
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: opacity(0.1); */
}
.darkThemeButton {
    background-color: #C87100;
    font-size: 14px;
    color: wheat;
    padding: 8px 12px;
    margin-bottom: 10px;
}
.darkThemeButton:hover {
    background-color: wheat;
    color: #C87100;
}

/* Container Styles */
h1,
h2 {
    text-align: center;
}
p {
    font-size: 22px;
    line-height: 1.5;
    font-family: Georgia, "Times New Roman", Times, serif;
}
a {
    color: rgb(155, 132, 3);
    text-decoration: overline;
}
.container a {
    font-size: 20px;
}
a:hover {
    text-transform: uppercase;
}
.container {
    background-color: rgba(255, 217, 0, 0.2);
    border: 1px dotted rgb(255, 217, 0);
    margin: 5px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}
button {
    display: block;
    margin: 0 auto;
    border: 1px solid gold;
    background-color: #C87100;
    color: lightgoldenrodyellow;
    font-size: 24px;
    border-radius: 6px;
    padding: 10px 15px;
    transition: all 150ms ease-in-out;
}
button:hover {
    background-color: gold;
    cursor: pointer;
}
footer {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}
